version: '3'
services:
  web:
    build: .
    ports:
     - "8088:8088"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - VIRTUAL_HOST=kvv.pcaroli.de
      - VIRTUAL_NETWORK=nginx-proxy
      - VIRTUAL_PORT=8088
      - LETSENCRYPT_HOST=kvv.pcaroli.de
      - LETSENCRYPT_EMAIL=philip@caroli.de
      - TZ="Europe/Berlin"

networks:
  default:
    external:
      name: webproxy



